In [1]:
from scholarly import scholarly, ProxyGenerator
from fp.fp import FreeProxy
import requests
import mysql.connector
import textdistance
import time
import random
import xmltodict
import urllib, urllib.request
import matplotlib.pyplot as plt
from webcrawler.researchgate import IeeeCrawler, ResearchGateCrawler, SpringerCrawler, PubMedCrawler
import selenium as se
from collections import Counter
from bs4 import BeautifulSoup
from difflib import SequenceMatcher

import pandas as pd

In [2]:
cnx = mysql.connector.connect(user='david', password='daviddung1993',
                              host='127.0.0.1',
                              database='computervision')
cursor = cnx.cursor()
headers = {"x-api-key": "M7HSjQNeTfai6l7JUiDZB8XYc85BHnHt3R0NXSEd"}
#pg = ProxyGenerator()

In [3]:
# Fetch Papers with one author
#cursor.execute("SET SESSION group_concat_max_len=15000;")
cursor.execute("select p.PaperID as PaperID, GROUP_CONCAT(distinct b.AuthoredByID) as authors, count(*) as authorCount,p.Leaf from Papers p, authoredBy b where p.PaperID = b.PaperID and b.AuthoredByID != 0 group by p.PaperID, p.Leaf")
temp_table = cursor.fetchall()
temp_table_df = pd.DataFrame(temp_table, columns =['ReferencedByID', 'authors', 'authorCount', "isLeaf"])
temp_table_df2 = pd.DataFrame(temp_table, columns =['ReferenceID', 'authors', 'authorCount', "isLeaf"])
cursor.execute("select * from referencedBy")
temp_table_reference_by = cursor.fetchall()
reference_by_df = pd.DataFrame(temp_table_reference_by, columns =['ReferenceID', 'ReferencedByID'])
referenced_paper = temp_table_df[temp_table_df["isLeaf"] == 0]

In [4]:
all_references = pd.merge(referenced_paper, reference_by_df, on="ReferencedByID")
all_references_w_authors = pd.merge(all_references, temp_table_df2, on="ReferenceID")

In [5]:
final_table = all_references_w_authors.groupby(["ReferencedByID","authors_x", "authorCount_x"], as_index = False).agg({'authors_y': ','.join})

In [6]:
# Check for authorCount = 1
final_table_one_author = final_table[final_table["authorCount_x"] == 1]
final_table_one_author

,ReferencedByID,authors_x,authorCount_x,authors_y
22,00e7632afa5a7f197e47462e3f3cc7ea325500f6,1807477,1,"145341374,1895356,33354551,6803671,2423230,144..."
24,010cd20cb3e34afeb21d17fe39c3f171a3621097,48968505,1,"1687120,1753210,1782282,2117314646,2983898,304..."
28,0144bd0be143c725977e51b6e9d24ad627cb6b48,144700150,1,"2372854,3170090,2027354,2108004595,2151330910,..."
40,01e146bda052577befaa964f1cfe3528ff6b6036,2604889,1,"3160228,1695689,1710604,1407546424,1708655,210..."
45,0219af37bd7902472bf8a434046cb4c33eeb31f0,1409093688,1,"1737063,1709398,1780112,1746242,12811570,35850..."
...,...,...,...,...
5237,fe5098997cfe6c7f40b90dcfcc0308ef74dcf627,3141914,1,"1695689,1701686,2064160,143949035,1688882,2060..."
5245,fe94d5929f94a430edba6ec22c0a7e4de83cde2f,1722674,1,"143655949,145327322,1829806,3141932,144783015,..."
5249,fed29c0b5c15ed8c57eed218e2702639617351ca,1730952,1,"1711460,1687120,1753210,1782282,2117314646,298..."
5256,ff5d09e7b2fb2ac440e2c9a7b8e063efbfce330b,1722674,1,"2796589,31641158,2071405842,1722674,1768559,60..."
5257,ff5e888c01eb11f03b0b2db8916635619783992c,2060229206,1,"143774737,144564063,145162067,2078931040,28482..."

In [45]:
totalCount = 0
totalCorrect = 0
for row in final_table_one_author.iterrows():
    most_cited_authors = []
    author = row[1]["authors_x"]
    cited_authors = row[1]["authors_y"].split(",")
    all_cited = dict(Counter(cited_authors))
    max_value = all_cited[max(all_cited, key=all_cited.get)]
    for k,v in all_cited.items():
        if v == 1:
            continue
        if v == max_value:
            most_cited_authors.append(k)
    if author in most_cited_authors and len(most_cited_authors) == 1:
        totalCorrect += 1
    totalCount += 1

totalCorrect/totalCount

0.17697594501718214

#### There are multiple authors n who share the same most-cited value. E.g. if we set n = 2, we assume that the author could be one of the top 2 most-cited authors with the same value:
| 1     | 2     | 3     | 4     | max       |
|-------|-------|-------|-------|-----------|
| 17.70 | 22.85 | 24.74 | 25.95 | 27 |

In [94]:
len(dictio)

45